.button {
    background-color: $iqq-color-blue;
    border: none;
    color: #FFF;
    display: inline-block;
    margin: 1rem 0 0 0;
    padding: 0.6rem 2rem;

    &:hover,
    &:focus {
        color: #FFF;
    }

    &.cta {
        background-color: $iqq-color-red;
    }
}