.section {
    padding: 4rem 0;
    text-align: center;

    &> a {
        @include ghost-button();
        display: inline-block;
        margin-top: 2rem;
    }
}

.section-title {

    margin: 0 0 2rem 0;

    small {
        display: block;
        text-transform: uppercase;
        font-size: 0.6em;

        &:before {
            content: '<';
            margin-right: 0.4rem;
        }

        &:after {
            content: '/>';
            margin-left: 0.4rem;
        }
    }
}