div.content {
    @extend .section;
    
    &> div {
        @extend .container;

        &> div.editor-content {
            @include make-xs-column(12);
            padding-bottom: 4rem;

            @media (min-width: $screen-md) {
                @include make-md-column(8);
                padding: 0 4rem;
            }
        }

        &> div.sidebar {
            @include make-xs-column(12);

            @media (min-width: $screen-md) {
                @include make-md-column(4);
                padding: 0 4rem;
            }
        }
    }


}

.editor-content {

}

.sidebar {
    border-top: 1px solid #eee;
    padding-top: 4rem;
    
    @media (min-width: $screen-md) {
        border-left: 1px solid #eee;
        border-top: none;
        padding-top: 0;
    }

    img {
        height: auto;
        width: 100%;
    }
}