.social {
    background-color: $iqq-color-red;
    color: #FFF;
    padding: 4rem 0;

    &> div {
        @extend .container;

        &> div {
            @extend make-md-column(12, 8rem);
            overflow: hidden;
            text-align: center;
        }
    }

    .section-title {
        margin: 0 0 3rem 0;
        text-align: center;
    }

    a {
        border: 2px solid #FFF;
        border-radius: 4rem;
        color: #FFF;
        height: 4rem;
        display: inline-block;
        font-size: 2rem;
        margin: 0 1rem 0 0;
        text-align: center;
        width: 4rem;

        @media (min-width: $screen-sm) {
            border-radius: 6rem;
            font-size: 3rem;
            height: 6rem;
            margin: 0 2rem 0 0;
            width: 6rem;
        }

        &:hover {
            background-color: #FFF;
            color: $iqq-color-red;
        }

        i {
            line-height: 4rem;

            @media (min-width: $screen-sm) {
                line-height: 6rem;
            }
        }
    }
}

.site-footer {
    background-color: $iqq-color-dark;
    color: #FFF;
    padding: 2rem 0;
    text-align: center;

    &> div {
        @extend .container;

        &> div {
            @include make-md-column(12, 8rem);
        }
    }

    p {
        margin: 0;
    }
}