.hero {
    background: #f4f4f4;
    overflow: hidden;
    padding: 20rem 0;
    position: relative;

    &> div {
        @extend .container;
        position: relative;
        z-index: 2;

        &> div {
            @include make-md-column(12, 8rem);
        }
    }

    h1 {
        margin: 0;
    }

    p {
        color: $brand-primary;
        font-size: 2rem;
        margin: 0;
    }

    &> img {
        height: 100%;
        left: 0;
        object-fit: cover;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
    }
}