.navbar-default {
    border: none;
    margin-bottom: 0;
    position: relative;
    z-index: 2;
}

.navbar-brand {
    display: block;
    height: $navbar-height;

    img {
        height: 100%;
        width: auto;
    }
}

.navbar-default .navbar-toggle {
    border-radius: 0;
    color: #FFF;

    &:focus,
    &:hover {
        background-color: rgba(#000, 0.2);
    }
}

@media (max-width: $screen-xs-max) {
    .navbar-nav.social-nav li {
        float: left;
    }
}

@media (min-width: $screen-sm) {
    
    .navbar-collapse {
        text-align: right;
    }

    .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align:top;
    }   
}