.project-preview {
    @extend .section;
    padding-left: 1rem;
    padding-right: 1rem;
    overflow: hidden;
    position: relative;

    @media (min-width: $screen-md) {
        padding-left: 0;
        padding-right: 0;
    }

    & > img {
        height: 100%;
        left: 0;
        object-fit: cover;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
    }

    .project {
        @extend .container;
        background-color: #FFF;
        max-width: 100%;
        overflow: hidden;
        padding: 2rem 0;
        position: relative;
        z-index: 2;

        @media (min-width: $screen-md) {
            padding: 4rem 0;
        }

        & > div {
            @include make-md-column(6);

            @media (min-width: $screen-md) {
                padding: 0 4rem;
            }

            & + div {
                @include make-md-column(6);

                @media (min-width: $screen-md) {
                    padding: 0 4rem;
                }
            }
        }

        .tag {
            font-weight: bold;
        }
    }

    .gallery {
        margin-top: 2rem;

        @media (min-width: $screen-md) {
            margin-top: 0;
        }

        /*.materialbox-overlay {
            height: 100%;
            width: 100%;
        }*/

        div.material-placeholder {
            border: 1rem solid #FFF;
            cursor: pointer;
            float: left;
            height: 16rem;
            width: 60%;

            &:first-child {
                border-left: none;
                border-top: none;

                & + div.material-placeholder {
                    border-right: none;
                    border-top: none;
                    width: 40%;

                    & + div.material-placeholder {
                        border-bottom: none;
                        border-left: none;
                        border-right: none;
                        width: 100%;
                    }
                }
            }

            img {
                height: 100%;
                object-fit: cover;
                width: 100%;
            }
        }
    }

    // Parallax
    .parallax-container {
        position: relative;
        overflow: hidden;
        height: 500px;
    }

    .parallax {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;

        img {
            display: none;
            position: absolute;
            left: 50%;
            bottom: 0;
            min-width: 100%;
            min-height: 100%;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
            transform: translateX(-50%);
        }
    }
}