.posts-list {
    @extend .section;

    &> div {
        @extend .container;

        &> div:first-child + div {
            @include make-xs-column(12);
            @include make-md-column(8);
            @include make-md-column-pull(4);
            
            @media (min-width: $screen-md) {
                padding: 0 4rem;
            }

        }

        .sidebar {
            @include make-xs-column(12);
            @include make-md-column(4);
            @include make-md-column-push(8);
            border: none;
            padding-top: 0;

            @media (min-width: $screen-md) {
                border-left: 1px solid #eee;
                padding: 0 4rem;
            }
        }
    }

    article {
        @include make-row();
        margin: 4rem 0;

        .featured-image {
            @include make-xs-column(2, 2rem);

            img {
                height: auto;
                width: 100%;
            }
        }

        .text {
            @include make-xs-column(10, 2rem);
        }

        .post-title {
            font-size: $font-size-base*1.3;
            margin: 0;
        }
    }
}

.pagination > li:first-child > a,
.pagination > li:last-child > a {
    border-radius: 0;
}

ul.tags {
    list-style: none;
    padding: 0;
}