.contact {
    @extend .section-small;
    background-color: darken($iqq-color-blue, 20%);
    color: #FFF;

    &> div {
        @extend .container;

        &> div{ 
            @include make-xs-column(12);

            @media (min-width: $screen-md) {
                padding: 0 4rem;
            }
        }
    }

    img {
        border-radius: 10rem;
        float: left;
        height: auto;
        margin: 0 3rem 1rem 0;
        width: 10rem;

        @media (min-width: $screen-md) {
            margin-bottom: 0;
        }
    }

    img + div {
        float: left;
        max-width: 60rem;
    }

    .title {
        font-size: $font-size-base*1.3;
        margin: 0 0 0 0;
    }

    p {
        margin: 0.6rem 0 0 0;
    }
}

.section > header {
    @extend .container;
}

.section header .section-title-container {
    
    @include make-xs-column(12);
    @include make-md-column(8);

    @media (min-width: $screen-md) {
        padding: 0 4rem;
    }

    margin-bottom: 3rem;
}

.section-title {

    small {
        color: inherit;
        display: block;
    }
}

.contact-form {

    max-width: 50rem;

    .form-group {
        float: left;
        margin: 0 0 1rem 0;
        padding-right: 2rem;
        width: 50%;

        &:last-of-type {
            width: 100%;
        }
    }
}

.contact > div > div > div {
    position: relative;
    overflow: hidden;
}

.contact .text {
    opacity: 1;
    position: absolute;
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: translateY(0);
}

.contact.active .text {
    opacity: 0;
    transform: translateY(-100%);
}

.contact .contact-form {
    opacity: 0;
    transform: translateY(100%);
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.contact.active .contact-form {
    opacity: 1;
    transform: translateY(0);
}