.hero {
    background: #f4f4f4;
    padding: 20rem 0;

    &> div {
        @extend .container;

        &> div {
            @include make-md-column(12, 8rem);
        }
    }

    h1 {
        margin: 0;
    }

    p {
        color: $brand-primary;
        font-size: 2rem;
        margin: 0;
    }
}