.in-short {
    @extend .section;
    
    &> div {
        @extend .container;

        &> div {
            @include make-xs-column(12);
            @include make-md-column(4);

            @media (min-width: $screen-md) {
                padding: 0 4rem;
            }
        }
    }

    header {

        
        img {
            float: left;
            height: auto;
            margin: 0 0.8rem 0 0;
            width: 2rem;
        }
    }

    .title {
        font-size: $font-size-base*1.3;
    }
}