.section {
    padding: 4rem 0;

    @media (min-width: $screen-md) {
        padding: 8rem 0;
    }
}

.section-small {
    padding: 2rem 0;

    @media (min-width: $screen-md) {
        padding: 4rem 0;
    }
}