.project-preview {
    @extend .section;
    padding-left: 1rem;
    padding-right: 1rem;
    overflow: hidden;
    position: relative;

    @media (min-width: $screen-md) {
        padding-left: 0;
        padding-right: 0;
    }

    &> img {
        height: 100%;
        left: 0;
        object-fit: cover;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
    }

    .project {
        @extend .container;
        background-color: #FFF;
        max-width: 100%;
        overflow: hidden;
        padding: 2rem 0;
        position: relative;
        z-index: 2;

        @media (min-width: $screen-md) {
            padding: 4rem 0;
        }

        &> div {
            @include make-md-column(6);

            @media (min-width: $screen-md) {
                padding: 0 4rem;
            }

            &+ div {
                @include make-md-column(6);

                @media (min-width: $screen-md) {
                    padding: 0 4rem;
                }
            }
        }

        .tag {
            font-weight: bold;
        }
    }

    .gallery {
        margin-top: 2rem;

        @media (min-width: $screen-md) {
            margin-top: 0;
        }

        img {
            border: 1rem solid #FFF;
            float: left;
            height: 16rem;
            object-fit: cover;
            width: 60%;

            &:first-child {
                border-left: none;
                border-top: none;

                &+ img {
                    border-right: none;
                    border-top: none;
                    width: 40%;

                    &+ img {
                        border-bottom: none;
                        border-left: none;
                        border-right: none;
                        width: 100%;
                    }
                }
            }
        }
    }
}